/* 亮色模式（默认） */
.ant-table-container .ant-table-body,
.ant-table-container .ant-table-content {
    scrollbar-width: thin;
    scrollbar-color: #eaeaea transparent;
    scrollbar-gutter: stable;
}

/* 暗黑模式 */
.dark .ant-table-container .ant-table-body,
.dark .ant-table-container .ant-table-content {
    scrollbar-color: #444 transparent;
}